.example-form {
  /*min-width: 150px;*/
  /*max-width: 500px;*/
  width: auto;
}

.example-full-width {
  width: 90%;
  padding-left: 10px;
}

.example-full-width3 {
  width: 90%;
  padding-left: 10px;
  margin-bottom: 30px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.drop {
  width: 78%;
  height: 220px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 0;
  right: 0;
}

.dropSigned {
  width: 78%;
  height: 220px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.drop .cont i {
  font-size: 40px;
  color: #787e85;
  position: relative;
}

.drop .cont .tit {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.drop .cont .desc {
  color: #787e85;
  font-size: 18px;
}

.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #00c993;
}

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: relative;
  left: 0;
  top: 0;
}

.dashed_upload {
  height: 200px;
}

.neexStepTwo {
  margin-top: 200px;
}

.finalLabel {
  width: 90%;
  margin-top: 100px;
  padding-left: 10px;

  border: #1b5e20;
  border-style: dashed;
  -webkit-border-radius: 10px;
  padding: 20px;
  align-content: center;
  background-color: #d1e1e9;
}

.filled {
  width: 90%;
  margin-top: 150px;
  padding-left: 10px;

  border: #1b5e20;
  border-style: dashed;
  -webkit-border-radius: 10px;
  padding: 20px;
  align-content: center;
  background-color: #69f0ae;
}

.filled3 {
  width: 90%;
  margin-top: 150px;
  padding-left: 10px;

  border: #1b5e20;
  border-style: dashed;
  -webkit-border-radius: 10px;
  padding: 20px;
  align-content: center;
  background-color: #69f0ae;
}

.filledUrl {
  width: 90%;
  margin-top: 150px;
  padding-left: 10px;

  border: #1b5e20;
  border-style: dashed;
  -webkit-border-radius: 10px;
  align-content: center;
  background-color: #69f0ae;
}

.finishbutton{
  width: 90%;
  margin-top: 20px;
}
